.symfony_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.symfony_container button{
    padding: 20px;
    margin-right: 1em;
}

.symfony_container button:hover {
    color: #ffbb33;
}

.symfony_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
}

.symfony_container h1 span{
    color: #ffbb33;
    padding: 0 .2em;
    background-color: #222;
}

.symfony_container p{
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.symfony_container img{
    width: 350px;
    margin: 2em 0;
}